<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>
<h1>Sources</h1>
Add a new Source.
<hr /><br />

<table
  id="sources-table"
  class="table table-striped table-bordered border-success"
>
  <thead>
    <th>Source Name</th>
    <th>Water Supplied</th>
    <th>Delete Source</th>
  </thead>
  <tbody>
    {{#each sources}}
      <tr sourceValue={{this.sourceName}}>
        <td>{{this.sourceName}}</td>
        <td>{{this.waterSupplied}}</td>
        <td><button
            onclick="deleteSource('{{this.sourceName}}')"
          >Delete</button></td>
      </tr>
    {{/each}}

  </tbody>
</table>

<hr /><br />

<div id="insert" style="display: block">
  <form method="POST" id="add-sources-form-ajax">
    <legend><strong>Add Source</strong></legend>
    <fieldset class="fields">
      <label> Source Name </label>
      <input type="text" id="sourceName-input" />
      </select>
      <label> Water Supplied </label>
      <input type="text" id="waterSupplied-input" />
      <label> Source Type </label> <select type="text" id="input-source-type">
            {{#each sourceTypes}}
            <option value="{{this.sourceType}}">{{this.sourceType}}</option>
            {{/each}}
      </select>
    </fieldset>
    <input
      class="btn btn-success"
      type="submit"
      id="addSource"
      value="Add a Source"
    />
  </form>
  <script src="../public/js/add-sources.js"></script>
  <!--add new source-->

</div><!-- insert -->
    <div id="update" style="display: block">
        <form method="POST" id="update-source-form-ajax">
            <legend><strong>Update Source</strong></legend>
            <fieldset class="fields">
                <label> Source Name</label><select type="text" id="input-source-name">
                    {{#each sources}}
                    <option value="{{this.sourceName}}">{{this.sourceName}}</option>
                    {{/each}}
                </select>
                <label> New Source Name </label> <input type="text" id="input-new-source-name">
                <label> Water Supplied</label> <input type="text" id="input-water-supplied">
                </select>
            </fieldset>
            <input class="btn btn-success" type="submit" id="updateSource" value="Update a Source">
        </form>
        <script src="../public/js/update_source.js"></script>
        <!--update customer-->
    </div><!-- insert -->
<script src="../public/js/delete_source.js"></script>